Thumbs.db
*.aps
*.bak
*.cache
*.dll
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.syslog
*.user
*.vspscc
*_i.c
*_p.c
.vs/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
obj/
packages/
*.xml_failed_objects.xml
*.xml_validation.out
BMIDE/ac4_acme/client_ac4acme.properties
BMIDE/ac4_acme/output
DELIVERY/ac4_acme/build.info
DELIVERY/ac4_acme/build.properties
DELIVERY/ac4_acme/prebuild/build.itk.unix.properties
DELIVERY/ac4_acme/prebuild/build.itk.win.properties
SCRIPTS/ac4_acme/data/30-post/03-revision_rules/all_revisionrule.xml
SCRIPTS/ac4_acme/data/30-post/10-queries/all_queries.xml
SCRIPTS/ac4_acme/data/30-post/99-global/ac4_acme_version.xml
SCRIPTS/ac4_acme/output/ac4_acme_version/version.txt
SCRIPTS/ac4_acme/output/log
SCRIPTS/ac4_acme/output/syslog
SCRIPTS/set_env/ac4_acme_config.pl
SCRIPTS/set_env/set_env.bat
